/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.car_animation {
    max-width: 150px;
    height: auto;
    border-radius: 20%;
    border: 2px solid #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    animation-name: move;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes move {
    from {
        left: -10%;
        top: 50px;
    }

    to {
        left: 50%;
        top: 50px;
    }
}

/* Colors */
:root {
    --main-color: #8d8d8e;
    --another-color: #f0eef5;
    --text-color: #444;
    --gradient: linear-gradient(#050303, #6cf6d8);
}

/* Custom Scroll Bar */
html::-webkit-scrollbar {
    width: 0.5rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 5rem;
}

/* Header Start Here */
section {
    padding: 50;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #eeeff1;
    padding: 15px 100px;
}

.logo img {
    max-width: 250px;
    height: auto;
    border-radius: 20%;
    border: 2px solid #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar {
    display: flex;
}

.navbar li {
    position: relative;
}

.navbar a {
    font-size: 1rem;
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500;
}

.navbar a::after {
    content: "";
    width: 0;
    height: 3px;
    background: var(--gradient);
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.5s;
}

.navbar a:hover::after {
    width: 100%;
}

#menu-icon {
    font-size: 24px;
    cursor: pointer;
    z-index: 10001;
    display: none;

}

.header-btn button {
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500;

}

.header-btn .sign-up {
    background: #09090a;
    color: #FFF;
    border-radius: 0.5rem;
}

.header-btn .sign-in {
    background: #09090a;
    color: #FFF;
    border-radius: 0.5rem;
}

.header-btn .sign-up:hover {
    background: var(--gradient);
}

.header-btn .sign-in:hover {
    background: var(--gradient);
}

/* Home Section Start Here */
.home {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background: url(images/web-background.jpg);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
}

.text {
    margin-left: 100px;
}

.text h1 {
    font-size: 3.5rem;
    letter-spacing: 2px;
    color: #fff;
}

.text span {
    color: var(--main-color);
}

.app-stores {
    display: flex;

}

.app-stores img {
    width: 100px;
    margin-right: 1rem;
    cursor: pointer;
}

.form-container form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    position: absolute;
    bottom: 4rem;
    left: 100px;
    background-color: #FFF;
    padding: 20px;
    border-radius: 05.rem;
}

.input-box {
    flex: 1 1 7rem;
    display: flex;
    flex-direction: column;
}

.input-box span {
    font-weight: 500;
}

.input-box input {
    padding: 7px;
    outline: none;
    border: none;
    background: #eeeff1;
    border-radius: 0.5rem;
    ;
    font-size: 1rem;
}

.form-container form .btn {
    align-self: flex-end;
    padding: 10px 34px;
    border: none;
    border-radius: 0.5rem;
    background: #47a062;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;

}

.form-container form .btn:hover {
    background: var(--main-color);
}

.heading {
    text-align: center;
}

.heading span {
    font-weight: 500;
    text-transform: uppercase;
}

.heading h1 {
    font-size: 2rem;
}

/* Rent Section Start here */
.rent {
    margin-top: 5rem;
}

.rent-container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 1rem;
    margin-top: 2rem;
}

.rent-container .box {
    text-align: center;
    padding: 20px;

}

.rent-container .box .bx {
    font-size: 34px;
    padding: 10px;
    background: #eeeff1;
    border-radius: 0.5rem;
    color: var(--main-color);
}

.rent-container .box h2 {
    font-size: 1.3rem;
    font-weight: 1000;
    margin: 1.4rem 0 0.5rem;
    color: #474fa0;
}

.rent-container .box .bx:hover,
.rent-container .box .bxs-calendar-check {
    background: var(--gradient);
    color: #fff;

}

/* Cars Setction Start Here */

.cars-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 12rem;
    margin-top: 2rem;
}

.cars-container .box {
    padding: 10px;
    border-radius: 1rem;
    box-shadow: 1px 4px 41px rgba(0, 0, 0, 0.1);
}

.cars-container .box .box-img {
    width: 100%;
    height: 200px;
}

.cars-container .box .box-img img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
    object-position: center;
}

.cars-container .box p {
    padding: 0 10px;
    border: 1px solid var(--text-color);
    width: 58px;
    border-radius: 0.5rem;
    margin: 1rem 0 1rem;
}

.cars-container .box h3 {
    font-weight: 500;
}

.cars-container .box h2 {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--main-color);
    margin: 0.2rem 0 0.5rem;
}

.cars-container .box h2 span {
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--text-color);
}

.cars-container .box .btn {
    display: flex;
    justify-content: center;
    background: #474fa0;
    color: #fff;
    padding: 10px;
    border-radius: 0.5rem;

}

.cars-container .box .btn:hover {
    background: var(--main-color);
}



/* Sign In and Sign Up */

.signin-popup {
    position: fixed;
    top: -150%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25);
    width: 380px;
    padding: 20px 30px;
    background: #fff;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms,
        opacity 200ms ease-in-out 0ms,
        transform 20ms ease-in-out 0ms, ;
}

.signin-popup.active {
    top: 70%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
        opacity 200ms ease-in-out 0ms,
        transform 20ms ease-in-out 0ms, ;
}

.signin-popup .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: #888;
    color: #eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}

.signin-popup .close-btn:hover {
    background: linear-gradient(#f90202, #f40303);
}

.signin-popup .form h2 {
    text-align: center;
    color: #222;
    margin: 10px 0px 20px;
    font-size: 25px;
}

.signin-popup .form .form-element {
    margin: 15px 0px;
}

.signin-popup .form .form-element label {
    font-size: 14px;
    color: #222;
}

.signin-popup .form .form-element input[type="text"],
.signin-popup .form .form-element input[type="password"] {
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.signin-popup .form .form-element input[type="checkbox"] {
    margin-right: 5px;
}

.signin-popup .form .form-element button {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 16px;
    background: #222;
    color: #f5f5f5;
    border-radius: 10px;
    cursor: pointer;
}

.signin-popup .form .form-element button:hover {
    background: linear-gradient(#050303, #6cf6d8);
}

.signin-popup .form .form-element a {
    display: block;
    text-align: right;
    font-size: 15px;
    color: #1a79ca;
    text-decoration: none;
    font-weight: 600;
}

/* Sing-Up Popup */
.signup-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25);
    overflow-y: auto;
    width: 380px;
    padding: 20px 30px;
    background: #fff;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms,
        opacity 200ms ease-in-out 0ms,
        transform 20ms ease-in-out 0ms, ;
}
.signup-popup.active {
    top: 70%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
        opacity 200ms ease-in-out 0ms,
        transform 20ms ease-in-out 0ms, ;
}

.signup-popup .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: #888;
    color: #eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}

.signup-popup .close-btn:hover {
    background: linear-gradient(#f90202, #f40303);
}

.signup-popup .form h2 {
    text-align: center;
    color: #222;
    margin: 10px 0px 20px;
    font-size: 25px;
}

.signup-popup .form .form-element {
    margin: 15px 0px;
}

.signup-popup .form .form-element label {
    font-size: 14px;
    color: #222;
}

.signup-popup .form .form-element input[type="text"],
.signup-popup .form .form-element input[type="password"] {
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.signup-popup .form .form-element input[type="checkbox"] {
    margin-right: 5px;
}

.signup-popup .form .form-element button {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 16px;
    background: #222;
    color: #f5f5f5;
    border-radius: 10px;
    cursor: pointer;
}

.signup-popup .form .form-element button:hover {
    background: linear-gradient(#050303, #6cf6d8);
}

.signup-popup .form .form-element a {
    display: block;
    text-align: right;
    font-size: 15px;
    color: #1a79ca;
    text-decoration: none;
    font-weight: 600;
}

/* Booking */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(75, 75, 75, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
}

.popup p {
    margin-bottom: 10px;
}

.popup button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #315c87;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
}

.popup button:first-child {
    margin-right: 0;
}

/* Success Message */
#success-message {
    display: none;
    /* Initially hide success message */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(185, 188, 185);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 999;
}

#success-message button {
    margin-top: 10px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background-color: #315c87;
    color: #fff;
    border-radius: 5px;
}

.about-container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 1rem;
    margin-top: 12rem;
}

.about-container .about-text {
    text-align: center;
    padding: 20px;

}

.about-container h1 {
    font-size: 3rem;
    font-weight: 1000;
    margin: 1.4rem 0 0.5rem;
    color: #474fa0;
}

/* Review */
.reviews {
    margin-top: 4rem;
}
.reviews-container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,auto));
    gap: 1rem;
    margin-top: 2rem;
}

.rev-img {
    width: 70px;
    height: 70px;
}
.rev-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 2px solid var(--another-color);
}
.reviews-container .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-shadow: 1px 4px 41px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}
.reviews-container .box h2 {
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0.5rem 0 0.5rem;
}
.reviews-container .box p {
    font-style: italic;
}
.rent-container .box .stars .bx {
    color: var(--main-color);
}

/* Contact Us */
.contact-us {
    background: linear-gradient(to top right, #eeeff1, #efebeb);
    display: flex;
    flex-direction: column;
    align-items: center;

}
.contact-us h2 {
    color: #434242;
    font-size: 2rem;
}
.contact-us .box {
    margin-top: 1rem;
    background: #fff;
    border-radius: 1rem;
    padding: 4px 8px;
    width: 350px;
    display: flex;
    justify-content: space-between;
}
.contact-us .box input {
    border: none;
    outline: none;
}
.contact-us .box .btn{
    background: #474fa0;
    color: #fff;
    padding: 8px 20px;
    border-radius: 0.5rem;
}
/* Copyright */
.copyright {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social a {
    color: #333;
    padding: 10px;
    font-size: 24px;
}

/* Responsive */
@media (max-width: 991px) {
    header {
        padding: 18px 40px;
    }
    section {
        padding: 50px 40px;
    }
}
@media (max-width: 881px) {
    .home{
        background-position:  left;
    }
    .form-container form {
        bottom: 0.2rem;
        left: 40px;
    }
}
@media (max-width: 768px) {
    header {
        padding: 11px 40px;
    }
    #menu-icon {
        display: initial;
    }
    .sign-up {
        display: none;
    }
    .sign-in {
        display: none;
    }
    .text h2 {
        font-size: 2.5rem;

    }
    .home {
        grid-template-columns: 1fr;
    }
    .form-container form {
        position: unset;
    }
    header .navbar {
        position: absolute;
        top: -500%;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: #fff;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
        transition: 02s ease;
        text-align: left;
    }
    .navbar.active {
        top: 100%;
    }
    .navbar a {
        padding: 1rem;
        border-left: 2px solid var(--main-color);
        margin: 1rem;
        display: block;
    }
    .navbar a:hover {
        color: #fff;
        background: var(--main-color);
        border: none;
    }
    .navbar a::after {
        display: none;
    }
}